@font-face {
  font-display: swap;
  font-family: "UnifrakturMaguntia";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/unifrakturmaguntia-v22-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Goudy Bookletter 1911";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/goudy-bookletter-1911-v21-latin-regular.woff2")
    format("woff2");
}
