@media (max-width: 500px) {
  .seperator {
    width: 200px;
  }

  .header-single-book {
    height: 20px;
    width: 200px;
    text-align: center;
    font-size: 12px;
  }

  .book-img {
    height: 40px;
    width: 40px;
  }

  .header-book-specs {
    width: 200px;
  }

  .comment-section-container {
    width: 200px;
  }

  .header-comments {
    width: 200px;
  }

  .comment-table-container {
    width: 200px;
  }

  .input-container {
    width: 200px;
  }
}
