* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "UnifrakturMaguntia";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/unifrakturmaguntia-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Goudy Bookletter 1911";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/goudy-bookletter-1911-v21-latin-regular.woff2")
    format("woff2");
}

.logo-img {
  height: 50px;
  width: 50px;
}

.main-header {
  font-family: UnifrakturMaguntia;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #493e30;
  gap: 20px;
}

footer {
  font-family: UnifrakturMaguntia;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #493e30;
  gap: 20px;
}

main {
  font-family: "Goudy Bookletter 1911";
  height: calc(100vh -126px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #524d42ec;
}

.main-container {
  height: 90%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  padding-bottom: 10px;
}

.seperator {
  background-color: #1712199b;
  box-shadow: 1px 1px 1px 1px #17121964;
  width: 400px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5a4f46cb;
  box-shadow: 1px 1px 1px 1px #171219ad;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.header-single-book {
  height: 24px;
  width: 400px;
}

.book-img {
  height: 64px;
  width: 64px;
  object-fit: contain;
}

.header-book-specs {
  height: 24px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.favourite-sub-container {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.fav-heart-btn {
  cursor: pointer;
  border: none;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(120, 126, 156);
}

.fav-heart-btn-img {
  height: 20px;
}

.heart-btn-greyscale {
  filter: grayscale(100%);
}

.comment-section-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-comments {
  width: 400px;
  display: flex;
  justify-content: start;
}

.comment-table-container {
  width: 400px;
}

.input-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.input-comment {
  width: 80%;
}

.submit-send-btn {
  cursor: pointer;
  background-color: rgb(123, 120, 113);
  border: none;
  border-radius: 5px;
  padding: 2px;
  object-fit: contain;
}

.submit-send-btn-img {
  height: 15px;
  width: 15px;
  padding-top: 4px;
}
