* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-img {
  height: 40px;
  width: 40px;
}

.main-header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 252);
}

footer {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 252);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(172, 172, 207);
}

.seperator {
  background-color: #6d7ece6b;
  box-shadow: 1px 1px 1px 1px rgba(173, 216, 230, 0.541);
  width: 400px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.book-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(132, 132, 209);
  border-radius: 20px;
  padding: 10px;
}

.header-single-book {
  height: 24px;
  width: 400px;
}

.book-img {
  height: 64px;
  width: 64px;
  object-fit: contain;
}

.header-book-specs {
  height: 24px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.favourite-sub-container {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.fav-heart-btn {
  cursor: pointer;
  border: none;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(120, 126, 156);
}

.fav-heart-btn-img {
  height: 20px;
}

.heart-btn-greyscale {
  filter: grayscale(100%);
}

.comment-section-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-comments {
  width: 400px;
  display: flex;
  justify-content: start;
}

.comment-table-container {
  width: 400px;
}

.input-container {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.input-comment {
  width: 80%;
}

.submit-send-btn {
  cursor: pointer;
  background-color: rgb(120, 126, 156);
  border: none;
  border-radius: 5px;
  padding: 2px;
  object-fit: contain;
}

.submit-send-btn-img {
  height: 15px;
  width: 15px;
  padding-top: 4px;
}
